@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gunmetal: #232b35;
  --charcoal: #253a4b;
  --old-lace: #f5eede;
  --barn-red: #69200c;
  --rufous: #9e280c;
  --rich-black: #192028;
  --charcoal-2: #3a454d;
  --raw-umber: #9c5831;
  --satin-sheen-gold: #c6962b;
  --licorice: #151115;
  --eerie-black: #171b1f;

  --lora-font: 'Lora', serif;
  --playfair-font: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  color: var(--old-lace);
  background: var(--charcoal-2);
  font-family: var(--lora-font);
}

.active-home,
.active-recipe{
  border: 1px solid white; 
}

.shadow-text{
  text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.ribbon {
  --r: .4em;
  --c: var(--barn-red);

  position: absolute;
  left: calc(-1.1*var(--r));
  line-height: 2; 
  padding: 0 .5em calc(2*var(--r));
  border-radius: var(--r) 0 0 var(--r);
  background: 
    radial-gradient(100% 50% at left,var(--c) 98%,#0000 101%)
     100% 0/.5lh calc(100% - 2*var(--r)),
    radial-gradient(100% 50% at right,#0005 98%,#0000 101%) 
     0 100%/var(--r) calc(2*var(--r)),
    conic-gradient(from 90deg at var(--r) calc(100% - 2*var(--r)),#0000 25%,var(--c) 0)
     0 0/calc(101% - .5lh) 100%;
  background-repeat: no-repeat;   
}